@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#Carta {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: auto;
}
#contenedor {
  margin-top: 20px;
}
.btn-generar {
  margin-top: 20px;
}
#Instrucciones {
  margin-bottom: 20px;
}
.topCard {
  font-size: 65px;
  width: 100%;
  text-align: left;
  margin-left: 10px;
  margin-top: -10px;
}

.num {
  font-size: 70px;
  font-family: cursive;
  text-align: center;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-left: -35px;
}

.bottomCard {
  font-size: 65px;
  width: 100%;
  text-align: right;
  margin-right: -30px;
  margin-bottom: -10px;
  transform: rotate(180deg);
}
