@import "~bootstrap/dist/css/bootstrap.min.css";
body {
  background-color: green;
}
#Carta {
  background-color: white;
  width: 200px;
  height: 300px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  margin: auto;
}
#contenedor {
  margin-top: 20px;
}
.btn-generar {
  margin-top: 20px;
}
#Instrucciones {
  margin-bottom: 20px;
}
